@import "tailwindcss";

:root {
  --background: #f3f2ec;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-prata: var(--font-prata);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Plus_Jakarta_Sans, serif;
}
