@import "tailwindcss";

:root {
  --background: #f3f2ec;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-line-color: #dedede;
  --color-disabled-color: #ededed;
  --color-background-darker: #edebe4;
  --font-inter: var(--font-inter);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-prata: var(--font-prata);
  --font-cormorant: var(--font-cormorant-unicase);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), serif;
}
